<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.andre_gt.newnaviku">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_navigt"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_navigt"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewNaviku"
        tools:targetApi="31">
        <activity
            android:name=".SightHub.DisplayQRCodeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".SightHub.DisplayGeneratedCodeActivity"
            android:exported="false" />
        <activity
            android:name=".VoiceMate.GenerateTextActivity"
            android:exported="true" />
        <activity
            android:name=".VoiceMate.TextRecognitionActivity"
            android:exported="true" />
        <activity
            android:name=".SightHub.ScannerActivity"
            android:exported="true" />
        <activity
            android:name=".SightHub.GenerateCodeActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".UI.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
            <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths" />
            </provider>

    </application>

</manifest>